body{background-image:url('https://torange.biz/photofxnew/194/HD/pattern-dark-picture-lights-lines-curves-blue-vivid-colors-194439.jpg') ;
  background-repeat: no-repeat;

background-size: 1950px 1000px; }
#logo{position: absolute;
	left: 30%;
	top: 13%;
	width: 800px;
	height: 800px;
       }
